html {
	font-family: 'PT Sans', Tahoma, sans-serif;
	color: black;
}

body {
	margin: 0;
	background-color: #006CB7;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

h2 {
	text-align: justify;
	font-size: 30px;
	font-weight: normal;
	-moz-tab-size: 4;
}

label {
	text-align: left;
	display: block;
	left: 170px;
}

select {
	cursor: pointer;
	font-size: 1em;
	font-family: 'PT Sans', Tahoma, sans-serif;
}

#header {
	padding: 1% 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#logo {
	max-width: 200px;
}

#buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	margin-left: 25px;
	padding-bottom: 5px;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
	font-variant-caps: all-small-caps;
	letter-spacing: -2;
	color: white;
	background: none;
	border: none;
	border-bottom: 2px solid white;
}

.button:hover{
	border-bottom: 2px solid #FFCB08 !important;
}

.button:focus{
	outline: none;
	border-bottom: 2px solid #ED1C24 !important;
}

.desc {
	text-align: center;
}

#analysis {
	padding: 1% 4% 1% 4%;
	border: 10px solid #006CB7;
	border-top: none;
	background-color: white;
}

#survey {
	padding: 1% 4% 2% 4%;
	border: 10px solid #006CB7;
	border-top: none;
	background-color: white;
}

#who {
	padding: 1% 4% 2% 4%;
	border: 10px solid #006CB7;
	border-top: none;
	background-color: white;
}

#survey_form {

}

.question {
	text-align: left;
	margin-bottom: -15px;
	font-size: 25px;
	font-weight: bold;
}

.answer {
	margin-left: 100px;
	font-size: 20px;
}

.answer input {
	margin-top: 15px;
	cursor: pointer;
}

#ageRangeInput {
	width: 300px;
}

#ageTxtInput {
	width: 50px;
	border: 1px solid #888;
	border-radius: 10px;
	font-size: 1.1em;
	font-family: 'PT Sans', Tahoma, sans-serif;
	font-weight: bold;
	text-align: center;
}

#submit_btn {
	width: 25%;
	cursor: pointer;
	outline: none;
	font-family: 'PT Sans', Tahoma, sans-serif;
  background-color: #ED1C24;
  border-radius: 25px;
  padding: 15px 0px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	border: none;
}

#log {
	font-size: 1.5em;
	font-weight: bold;
	background-color: #006CB7;
	padding: 25px;
	color: white;
}

#who_content {
	text-align: justify;
	font-size: 1.25em;
}
.image{
	display: block;
    margin: 0 auto;
	max-width:1200px;
	max-height:1050px;
	width: auto;
	height: auto;

}